{% extends 'layout.html' %}
{% load static %}
{% block body %}



    <br><br>
  <div class="services-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 mb-5 mb-lg-0">

          <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
            <h2 class="line-bottom mb-4">Become an Instructor</h2>
          </div>

          <p data-aos="fade-up" data-aos-delay="100">The path to becoming an instructor can vary based on the field, the level of education, and the specific requirements of the institution or platform where you intend to teach. It's essential to be adaptable, passionate about your subject matter, and committed to the ongoing development of your teaching skills.</p>

          <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
            <li>Behind the word Mountains.</li>
            <li>Far far away Mountains.</li>
            <li>Large language Ocean.</li>
          </ul>

          <p data-aos="fade-up" data-aos-delay="300"><a href="/" class="btn btn-primary">Get Started</a></p>

        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
          <figure class="img-wrap-2">
              <img src="{% static 'images/logo.jpg' %}" alt="Image" class="img-fluid">
            <div class="dotted"></div>
          </figure>

        </div>
      </div>
    </div>
  </div>


  <div class="untree_co-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-4">Our Team</h2>
          <p>Collaboration is at the heart of our success. We believe in the power of teamwork to accomplish tasks, drive projects forward, etc.</p>
        </div>
      </div>
        {% for tm in team %}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="0">
          <div class="staff text-center">
              <div class="mb-4"><img src="/media/{{ tm.photo }}" alt="Image" class="img-fluid"></div>
            <div class="staff-body">
              <h3 class="staff-name">{{ tm.name }}</h3>
              <span class="d-block position mb-4">{{ tm.position }}</span>
              <p class="mb-4">{{ tm.description }}.</p>
              <div class="social">
                <a href="https://www.facebook.com/" class="mx-2"><span class="icon-facebook"></span></a>
                <a href="https://twitter.com/" class="mx-2"><span class="icon-twitter"></span></a>
                <a href="https://linkedin.com/" class="mx-2"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div> {% endfor %}
    </div>
  </div> <!-- /.untree_co-section -->



   <div class="untree_co-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-4">We Have Best Education</h2>
          <p>Ultimately, the "best" education is one that empowers individuals to reach their full potential, equips them to contribute positively to society, and prepares them for the challenges and opportunities of the future. Different educational approaches may align with these principles to varying degrees, and what works best can vary based on individual needs and goals.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="feature">
            <span class="uil uil-music"></span>
            <h3>Music Class</h3>
            <p>
A music class typically refers to an educational setting where students learn about various aspects of music, including theory, history, performance, and composition.
            The specific content and focus of a music class can vary depending on the educational level and the goals of the program.</p>

          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="feature">
            <span class="uil uil-calculator-alt"></span>
            <h3>Math Class</h3>
            <p>Math classes play a crucial role in developing analytical and quantitative skills, fostering logical reasoning, and providing a foundation for understanding and solving real-world problems. The skills acquired in math class are applicable in numerous fields and are essential for both academic and practical applications throughout life.</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="feature">
            <span class="uil uil-book-open"></span>
            <h3>English Class</h3>
            <p>English classes play a crucial role in developing language proficiency, critical thinking abilities, and communication skills. They also contribute to a broader cultural understanding through the exploration of literature from different periods and regions.</p>
          </div>
        </div>


        <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay=100">
          <div class="feature">
            <span class="uil uil-book-alt"></span>
            <h3>Reading for Kids</h3>
            <p>In higher education, reading skills continue to be refined, and classes may involve more complex and specialized texts. Reading classes at this level often focus on critical analysis, research skills, and the ability to engage with academic and professional literature.

Overall, reading classes are instrumental in equipping students with the essential skill of reading, which serves as the foundation for learning across various subjects and throughout life.</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="feature">
            <span class="uil uil-history"></span>
            <h3>History Class</h3>
            <p> History classes play a crucial role in fostering an appreciation for the past, developing critical thinking skills, and providing insights into the complexities of human societies. Studying history helps students understand the roots of contemporary issues and contributes to a well-rounded education.</p>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.untree_co-section -->


  

  <div class="untree_co-section">


    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-5 mb-lg-0"  data-aos="fade-up" data-aos-delay="0">
            <img src="{% static 'images/why choose us.jpg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <h3 class="line-bottom mb-4">Why Choose Us</h3>
          <p>Your satisfaction is our priority. We pride ourselves on our customer-centric approach, listening to your needs, and providing personalized solutions. Expect a seamless and enjoyable experience from the moment you engage with us.</p>

          <div class="custom-accordion" id="accordion_1">
            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Good Teachers and Staffs</button>
              </h2>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                <div class="accordion-body">
                  <div class="d-flex">
                    <div class="accordion-img mr-4">
                        <img src="{% static 'images/Early childhood development education.jpg' %}" alt="Image" class="img-fluid" height="100" width="400">
                    </div>
                    <div>
                      <p>Stay ahead in a dynamic landscape with our commitment to innovation. We leverage cutting-edge technologies and industry best practices to deliver solutions that not only meet but exceed expectations. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Value Good Characters</button>
              </h2>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                <div class="accordion-body">
                  <div class="d-flex">
                    <div class="accordion-img mr-4">
                        <img src="{% static 'images/Drawing and Creativity.jpg' %}" alt="Image" class="img-fluid" height="100" width="300">
                    </div>
                    <div>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- .accordion-item -->
            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Children are Safe</button>
              </h2>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                <div class="accordion-body">
                  <div class="d-flex">
                    <div class="accordion-img mr-4">
                        <img src="{% static 'images/Drawing and Creativity.jpg' %}" alt="Image" class="img-fluid" height="100" width="400">
                    </div>
                    <div>
                      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                      <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                    </div>
                  </div>

                </div>
              </div>

            </div> <!-- .accordion-item -->

          </div>

        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section -->

  <div class="site-footer">

    <div class="container">

      <div class="row">
        <div class="col-lg-3 mr-auto">
          <div class="widget">
            <h3>About Us<span class="text-primary">.</span> </h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div> <!-- /.widget -->
          <div class="widget">
            <h3>Connect</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-2 ml-auto">
          <div class="widget">
            <h3>Quick Links</h3>
            <ul class="list-unstyled float-left links">
              <li><a href="#">Ministry of Education</a></li>
              <li><a href="#">KUCCPS</a></li>
              <li><a href="#">HEF</a></li>
              <li><a href="#">STUDENT PORTAL</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget">
            <h3>Gallery</h3>
            <ul class="instafeed instagram-gallery list-unstyled">
              <li><a class="instagram-item" href="{% static 'images/gal_1.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_1.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_2.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_2.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_3.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_3.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_4.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_4.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_5.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_5.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_6.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_6.jpg' %}" alt="" width="72" height="72"></a>
              </li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">+254 725 256 874</a></li>
              <li><a href="tel://11234567890">+254 725 256 536</a></li>
              <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->

      </div> <!-- /.container -->
    </div> <!-- /.site-footer -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
     <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
     <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
     <script src="{% static 'js/jquery.sticky.js' %}"></script>
     <script src="{% static 'js/aos.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>


  </body>

  </html>
{% endblock %}