{% extends 'layout.html' %}
{% load static %}
{% block body %}
<body>

<body>

<div class="container mt-5">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="field1">Full Name</label>
        <input type="text" class="form-control" id="field1" placeholder="Enter Your Full Name">
      </div>
      <div class="form-group col-md-6">
        <label for="field2">Email Address</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter your Email Address">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 3</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 4</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 5</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 6</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 7</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

         <div class="form-group col-md-6">
        <label for="field2">Field 8</label>
        <input type="text" class="form-control" id="field2" placeholder="Enter text for Field 2">
      </div>

    </div>

    <!-- Repeat the above div for the remaining 12 fields -->

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Bootstrap JS and Popper.js (optional, but required for some Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


<!-- Bootstrap JS and Popper.js (optional, but required for some Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<div class="site-footer">


    <div class="container">

      <div class="row">
        <div class="col-lg-3 mr-auto">
          <div class="widget">
            <h3>About Us<span class="text-primary">.</span> </h3>
            <p>Your satisfaction is our priority. Our client-centric approach means that we listen to your needs, communicate transparently, and go the extra mile to exceed your expectations.</p>
          </div> <!-- /.widget -->
          <div class="widget">
            <h3>Connect</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Gallery</h3>
            <ul class="instafeed instagram-gallery list-unstyled">
                <li><a class="instagram-item" href="{% static 'images/gal_1.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_1.jpg' %}" alt="" width="72" height="72"></a> </li>
                <li><a class="instagram-item" href="{% static 'images/gal_2.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_2.jpg' %}" alt="" width="72" height="72"></a> </li>
                <li><a class="instagram-item" href="{% static 'images/gal_3.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_3.jpg' %}" alt="" width="72" height="72"></a> </li>
                <li><a class="instagram-item" href="{% static 'images/gal_4.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_4.jpg' %}" alt="" width="72" height="72"></a> </li>
                <li><a class="instagram-item" href="{% static 'images/gal_5.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_5.jpg' %}" alt="" width="72" height="72"></a> </li>
                <li><a class="instagram-item" href="{% static 'images/gal_6.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_6.jpg' %}" alt="" width="72" height="72"></a> </li>

            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->


      </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

  </body>

  </html>
{% endblock %}
