{% extends 'layout.html' %}
{% load static %}
{% block body %}
  


  <div class="untree_co-section bg-light">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-4-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Art and Craft In Education</a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>January 22, 2024</span>  <span class="icon-person mr-2"></span></div>
              <p>
Art and craft encompass a wide range of creative activities that involve the use of hands and imagination to produce visually appealing and often functional objects.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-3-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Early childhood development education(ECDE)</a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>June 22, 2024</span>  <span class="icon-person mr-2"></span></div>
              <p>intentional and systematic learning experiences provided to young children during the critical early years of their lives, typically from birth to around eight years old.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-2-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Drawing and Creativity</a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>January 22, 2024</span>  <span class="icon-person mr-2"></span></div>
              <p>
Drawing is a form of visual expression that involves creating images, patterns, or representations using various tools such as pencils, pens, charcoal, or digital devices. It is a fundamental and universal means of communication and artistic exploration.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-1-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Informatics & Mathematics</a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>June 22, 2024</span>  <span class="icon-person mr-2"></span></div>
              <p>Mathematics is a fundamental and abstract field of study that deals with the properties, relationships, and structures of numbers, quantities, shapes, and patterns. It is often referred to as the language of science and provides a systematic way of reasoning and problem-solving.</p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-5-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Computer Studies </a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>June 22, 2024</span>  <span class="icon-person mr-2"></span></div>
              <p>Computer Studies is an academic discipline that encompasses the study of computers, computing technologies, and their applications. It is a broad field that covers a range of topics, from the theoretical foundations of computation to the practical aspects of software development, hardware systems, and the societal impacts of computing. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
          <div class="media-h d-flex h-100">
            <figure>
              <img src="{% static 'images/img-school-6-min.jpg' %}" alt="Image">
            </figure>
            <div class="media-h-body">
              <h2 class="mb-3"><a href="#">Robotics Club</a></h2>
              <div class="meta "><span class="icon-calendar mr-2"></span><span>June 22, 2020</span>  <span class="icon-person mr-2"></span>Untree.co</div>
              <p>Robotics is an interdisciplinary field that involves the design, construction, programming, and operation of robots. A robot is a mechanical or virtual artificial agent, typically guided by computer programs or remote control, capable of performing tasks autonomously or semi-autonomously.</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div> <!-- /.untree_co-section -->

  <div class="site-footer">

    <div class="container">

      <div class="row">
        <div class="col-lg-3 mr-auto">
          <div class="widget">
            <h3>About Us<span class="text-primary">.</span> </h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div> <!-- /.widget -->
          <div class="widget">
            <h3>Connect</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-2 ml-auto">
          <div class="widget">
            <h3>Quick Links</h3>
            <ul class="list-unstyled float-left links">
              <li><a href="#">Ministry of Education</a></li>
              <li><a href="#">KUCCPS</a></li>
              <li><a href="#">HEF</a></li>
              <li><a href="#">STUDENT PORTAL</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget">
            <h3>Gallery</h3>
            <ul class="instafeed instagram-gallery list-unstyled">
              <li><a class="instagram-item" href="{% static 'images/gal_1.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_1.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_2.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_2.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_3.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_3.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_4.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_4.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_5.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_5.jpg' %}" alt="" width="72" height="72"></a>
              </li>
              <li><a class="instagram-item" href="{% static 'images/gal_6.jpg' %}" data-fancybox="gal"><img src="{% static 'images/gal_6.jpg' %}" alt="" width="72" height="72"></a>
              </li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">+254 725 256 874</a></li>
              <li><a href="tel://11234567890">+254 725 256 536</a></li>
              <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->

      </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

  </body>

  </html>
{% endblock %}